<?xml version="1.0"?>
<config>
    <modules>
        <Barcode_Mytabs>
            <version>0.1.0</version>
        </Barcode_Mytabs>
    </modules>
    <global>
        <blocks>
            <mytabs>
                <class>Barcode_Mytabs_Block</class>
            </mytabs>
        </blocks>
        <models>
            <mytabs>
                <class>Barcode_Mytabs_Model</class>
            </mytabs>
        </models>
        <helpers>
            <barcodetabs>
                <class>Barcode_Mytabs_Helper</class>
            </barcodetabs>
        </helpers>
    </global>
    <adminhtml>
    	<layout>
    		<updates>
    			<mytabs>
    				<file>mytabs.xml</file>
    			</mytabs>
    		</updates>
    	</layout>
        <events>
            <catalog_product_save_after>
                <observers>
                    <fishpig_save_product_data>
                        <type>singleton</type>
                        <class>customtabs/observer</class>
                        <method>saveProductTabData</method>
                    </fishpig_save_product_data>
                </observers>
            </catalog_product_save_after>
        </events>
    </adminhtml>
</config>