<?xml version="1.0"?>
 
<config>
    <modules>
        <Restapi_Api>
            <version>0.1.0</version>
        </Restapi_Api>
    </modules>    
    <frontend>
        <routers>
            <Restapi_Api_SomeFreeRouterName1>
                <use>standard</use>
                <args>
                    <module>Restapi_Api</module>
                    <frontName>restapi_api</frontName>
                </args>
            </Restapi_Api_SomeFreeRouterName1>
        </routers>
    </frontend>    
</config>